<!DOCTYPE html>
<html>
  <head>
    <title>Exercises</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/exercises">All exercises</a>
    <form action="/exercises" method="POST">
        <input type ="text" name="exercise">
        <button type="submit">Add exercise</button>
    </form>

  </body>
</html>
