<!DOCTYPE html>
<html>
  <head>
    <title>Exercises</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/exercises">All exercises</a>
        <h3><%= exercise.exercise %></h3>
        <h3>Complete: <%= exercise.done ? 'Yes' : 'No' %></h3>
    </ul>
    <form action="/exercises/<%= exercise.id %>?_method=Delete" method="POST">
      <button type="submit">Delete exercise</button>
    </form>
  </body>
</html>
